* {
  margin: 3px;
  padding: 5px
}
body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: url('../backgroundHtmlcss2.png') repeat;
}
.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}
#article1 {
  background-color: white;
  border: solid black 1.5px;
  border-radius: 7px;
  border-top-left-radius: 0px
}
#article2 {
  background-color: white;
  border: solid black 1.5px;
  border-radius: 7px;
  border-top-left-radius: 0px
}
header {
  width: 960px;
  height: 150px;
  padding: 0px;
  width: 100%;
}
header h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
nav {
  z-index: 5;
  position: fixed;
  top: 0px;
  height: 100%;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 0px;
  padding-top: 0px;
  left: 0px;
}
ul {
  background-color: white;
  border-right: solid 2px black;
  height: 100%;
  margin-left: 0px;
  margin-top: 0px;
}
ul li a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
ul li a:hover {
  color: #C0C0C0;
}
.spoiler {
  background-color: black;
  color: black;
  font-weight: bold;
  content: "Spoiler";
}
.spoiler:hover {
  background: rgba(0,0,0,0);
  font-weight: normal;
}
.z-index {
  float: right;
  position: absolute;
}
#black {
  background-color: black;
  z-index: 1;
  width: 200px;
  height: 200px;
  top: 40px;
  left: 1540px;
}
#yellow {
  background-color: yellow;
  z-index: 2;
  width: 130px;
  height: 130px;
  top: 40px;
  left: 1540px;
}
#red {
  background-color: red;
  z-index: 3;
  width: 100px;
  height: 100px;
  top: 40px;
  left: 1540px;
}
#blue {
  background-color: blue;
  z-index: 2;
  width: 100px;
  height: 100px;
  top: 130px;
  left: 1630px;
}
#green {
  background-color: green;
  z-index: 4;
  width: 100px;
  height: 100px;
  top: 90px;
  left: 1590px;
}
footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
  position:fixed;
  top: 920px;
  left: 0px;
}
