* {
  margin: 3px;
  padding: 5px
}
body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: url('../backgroundHtmlcss2.png') repeat;
}
.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}
#article1 {
  background-color: white;
  border: solid black 1.5px;
  border-radius: 7px;
  border-top-left-radius: 0px
}
#article2 {
  background-color: white;
  border: solid black 1.5px;
  border-radius: 7px;
  border-top-left-radius: 0px
}
header {
  width: 960px;
  height: 150px;
  padding: 0px;
  width: 100%;
}
header h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
ul {
  padding: 10px;
}
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}
ul li {
  background: #787878;
  padding: 5px;
  border: solid 2px black;
  display: inline-block;
}
ul li a {
  color: white;
  text-decoration: none;
}
ul li a:hover {
  color: #C0C0C0;
}
footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
  position:absolute;
  top: 920px;
  left: 0px;
}
